# VARIABLES DE ENTORNO
# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=indrive
POSTGRES_PORT=5432

# MongoDB
MONGO_PORT=27017

# Redis
REDIS_PORT=6379

# Backend
API_PORT=3000

# Motor Tarifario
PRICING_ENGINE_PORT=3001

